Package: Clipper
Version: 0.20-1
Section: Desktop
Priority: Optional
Maintainer: Stephen Fryatt <info@stevefryatt.org.uk>
Standards-Version: 0.6.0
Environment: any
Licence: Free
Description: Access the contents of the Global Clipboard
 Formerly known as Clipboard, Clipper allows the contents of the clipboard to
 be saved to disc, or replaced by a file. Data can be saved out by drag and
 drop, and existing files can also be placed directly on to the clipboard for
 pasting into other applications.
 .
 Note that the Clipper utility does not provide cut, copy and paste in
 writeable icons on the desktop. For that, the IcnClipBrd utility (available
 in the IcnClipBrd package) is required.
Homepage: http://www.stevefryatt.org.uk/risc-os/clipboard
Components: Apps.Desktop.!Clipper (Movable)
